/*
=================
GRID
=================
*/
.container {
  width: 100vw; }

.row {
  width: 100%;
  margin: 0 auto; }

.col-1-3 {
  width: 33%;
  margin: 0 auto; }

/*
=================
BASIC STYLES
=================
*/
.nav {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around; }

ul {
  display: flex; }

li {
  list-style: none; }

/*
=================
INDEX
=================
*/
.heroImg {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  height: 10em; }

.logIn {
  width: 33%;
  margin: 0 auto; }

/*
=================
BUTTONS
=================
*/
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5em; }

.square {
  border: 2px solid black;
  margin: 10%; }
