/*
=================
FOODIE STYLINGS
=================
*/
.menuSwitch {
  width: 33%;
  height: 3em; }

#entry {
  background-color: #4dcbb6; }

#recipes {
  background-color: #79ee2b; }

#diary {
  background-color: #d41162; }

/*
============
COLORS
============
*/
/*
============
FONTS
============
*/
/*
=================
GRID
=================
*/
.container {
  width: 100vw; }

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.col-1-3 {
  width: 33%;
  margin: 0 auto; }

.field {
  height: 50vh;
  border-radius: 20%;
  font-family: "Futura";
  background-color: rgba(166, 166, 166, 0.5); }

.logIn, .signUp {
  position: absolute;
  top: 25vh;
  left: 50%; }

input {
  width: 25vw;
  height: 2em; }

label {
  margin-top: 2em; }

/*
=================
BASIC STYLES
=================
*/
.nav {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around; }

ul {
  display: flex; }

li {
  list-style: none; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Futura", Courier, monospace; }

a, a:visited {
  text-decoration: none;
  color: black; }

/*
=================
INDEX
=================
*/
.pitch {
  width: 100vw;
  height: 80vh;
  position: relative; }
  .pitch img {
    width: 100%;
    height: 100%; }

.heroImg {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  position: absolute;
  bottom: 2em;
  right: 0; }
  .heroImg h1 {
    font-size: 10em;
    font-weight: 200;
    padding: 0;
    margin: 0;
    color: white; }
  .heroImg p {
    font-size: 2em;
    background-color: rgba(166, 166, 166, 0.5); }
  .heroImg h2 {
    font-size: 3em;
    background-color: rgba(166, 166, 166, 0.5); }

.logIn {
  width: 33%;
  margin: 0 auto;
  left: 0; }

/*
=================
BUTTONS
=================
*/
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  font-size: 2em; }
  .btn:hover {
    cursor: pointer; }

.square {
  border: 2px solid black;
  margin-left: 3em;
  border-radius: 20%; }

.bottomNav {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  font-size: 2em;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive; }
  .bottomNav li {
    margin-left: 3em; }
    .bottomNav li:hover {
      font-size: 1.25em; }

/*
=================
JAVASCRIPT INTERACTIONS
=================
*/
.logIn, .signUp, .entry, .recipes, .diary {
  display: none; }

.display {
  display: block; }

/*
=================
MEDIA QUERIES
=================
*/
/*
=================
ABOUT
=================
*/
.circleImg {
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
  position: relative;
  margin: 0 auto; }

.pitchH2 {
  position: absolute;
  top: 50vh;
  right: 45vw;
  color: white;
  font-family: "Permanent Marker", cursive; }

.marker {
  font-family: "Permanent Marker", cursive; }

.blurb {
  width: 60%; }

.catchHook {
  font-size: 4em;
  text-align: center;
  margin: 0;
  padding: 0; }
  .catchHook:hover {
    font-size: 4.25em; }
