
/*
=================
FOODIE STYLINGS
=================
*/

.menuSwitch {
  width: 33%;
  height:3em;

}

#entry {
  background-color: hsla(170, 55%, 55%, 1);
}

#recipes {
  background-color: hsla(96, 85%, 55%, 1);
}

#diary {
  background-color: hsla(335, 85%, 45%, 1);
}

.recipeShow {
  padding: 1em;
  width: 15vw;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 100%;
  }

}

.journalItem {
  padding-left: 1em;
  width: 15vw;
}

.nextBtn {
  font-size: 2em;
  letter-spacing: 0.25em;
  border: 2px solid black;
  height: 40%;
  width: 5em;

}
