
/*
=================
FOODIE STYLINGS
=================
*/

.menuSwitch {
  width: 33%;
  height:3em;

}

#entry {
  background-color: hsla(170, 55%, 55%, 1);
}

#recipes {
  background-color: hsla(96, 85%, 55%, 1);
}

#diary {
  background-color: hsla(335, 85%, 45%, 1);
}
