
/*
=================
GRID
=================
*/


.container {
  width: 100vw;
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.col-1-3 {
  width: 33%;
  margin: 0 auto;
}

/*
=================
BASIC STYLES
=================
*/

.nav {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Ubuntu', Helvetica, sans-serif;
}

/*
=================
INDEX
=================
*/
.pitch {
  //background-image: url("../images/fire.jpg");
  width: 100vw;
  height: 100vh;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.heroImg {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  position: absolute;
  bottom: 2em;
  right: 0;
  color: white;
  h1 {
    font-size: 10em;
    font-weight: 200;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 2em;
    background-color: hsla(30, 0%, 65%, 0.5);
  }
  h2 {
    font-size: 3em;
    background-color: hsla(30, 0%, 65%, 0.5);
  }
}

.logIn {
  width: 33%;
  margin: 0 auto;
}

/*
=================
BUTTONS
=================
*/
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
}

.square {
  border: 2px solid black;
  margin-left: 3em;

}

/*
=================
JAVASCRIPT INTERACTIONS
=================
*/
.logIn, .signUp, .entry, .recipes, .diary {
  display: none;
}

.display {
  display: block;
}



/*
=================
MEDIA QUERIES
=================
*/
//
// @media screen and (max-device-width: 480px) {
// .btn { font-size: 3.3em;
// }
