
/*
=================
GRID
=================
*/


.container {
  width: 100vw;
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.col-1-3 {
  width: 33%;
  margin: 0 auto;
}

/*
=================
BASIC STYLES
=================
*/

.nav {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Ubuntu', Helvetica, sans-serif;
}

/*
=================
INDEX
=================
*/

.heroImg {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  height: 10em;
}

.logIn {
  width: 33%;
  margin: 0 auto;
}

/*
=================
BUTTONS
=================
*/
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.square {
  border: 2px solid black;
}
/*
=================
MEDIA QUERIES
=================
*/
//
// @media screen and (max-device-width: 480px) {
// .btn { font-size: 3.3em;
// }
