
/*
=================
GRID
=================
*/


.container {
  width: 100vw;
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.col-1-3 {
  width: 33%;
  margin: 0 auto;
}

.field {
  height: 50vh;
  border-radius: 20%;
  font-family: "Futura";
  background-color: $transGrey;
  * {
    display: block;
  }
  label {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
  }
  input {
    width: 25vw;
    height: 3em;
  }

  button {
    margin: 0 auto;
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
  }
}

.logIn, .signUp {
  position: absolute;
  top: 25%;
  left: 0;
}




/*
=================
BASIC STYLES
=================
*/

.nav {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: "Futura", Courier, monospace;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

/*
=================
INDEX
=================
*/
.pitch {
  //background-image: url("../images/fire.jpg");
  width: 100vw;
  height: 80vh;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.heroImg {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  position: absolute;
  bottom: 2em;
  right: 0;
  h1 {
    font-size: 10em;
    font-weight: 200;
    padding: 0;
    margin: 0;
    color: white;
  }
  p {
    font-size: 2em;
    background-color: $transGrey;
  }
  h2 {
    font-size: 3em;
    background-color: $transGrey;
  }
}

/*
=================
BUTTONS
=================
*/
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
}

.square {
  border: 2px solid black;
  margin-left: 3em;
  border-radius: 20%;

}

.bottomNav {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  font-size: 2em;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  li {
    margin-left: 3em;
    &:hover {
      font-size: 1.25em;
    }
  }
}

/*
=================
JAVASCRIPT INTERACTIONS
=================
*/
.logIn, .signUp, .entry, .recipes, .diary {
  display: none;
}

.display {
  display: block;
}



/*
=================
MEDIA QUERIES
=================
*/
//
// @media screen and (max-device-width: 480px) {
// .btn { font-size: 3.3em;
// }
