/*
=================
ABOUT
=================
*/

.reverseColor {
  background-color: $transGrey;
  color: white;
}

.heroSection {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.circleImg {
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
}

.pitchH2 {
  font-family: $marker;
}


.blurb {
  width: 60%;
}


.menuSwitch {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.25em;
  padding-top: 1em;
  font-family: $round;
}


#entry, #recipes, #diary {
  &:hover {
    cursor: pointer;
  }
}
